<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.allpayx.sdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false"/>

    <queries>
        <package android:name="com.eg.android.AlipayGphone" /> <!-- 支付宝 -->
        <package android:name="hk.alipay.wallet" /> <!-- AlipayHK -->
    </queries>



    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">


        <activity
            android:name="com.allpayx.sdk.activity.AllPayActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- ca渠道配置  begin -->

        <!-- ca渠道配置 end -->

        <!-- wpay sdk begin -->


        <activity
            android:name="com.allpayx.sdk.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />


        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:targetActivity="com.allpayx.sdk.wxapi.WXPayEntryActivity" />

        <!-- wpay sdk end -->




        <!-- upay sdk begin -->

        <uses-library android:name="org.simalliance.openmobileapi" android:required="false"/>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            >
        </activity>

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- upay sdk end -->




    </application>




</manifest>
